<!DOCTYPE html>
<html>
<head>
  <title>Change Student View</title>
</head>
<body>
  <form action="/students" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Results</button>
  </form>
</body>
</html>