#contact-info {
	font-size:.8em;
}

.job {
	background-color:#e9e5dc;
	border-radius:10px;
	padding:5px;
	margin-top:20px;
}

.accomplishments {
	font-size:.8em;
}

section#volunteer-experience:last-of-type {
    background-color:#2c6eff;
}

ul > li.featured {
    font-weight: bold;
}