body {
display: block;
}
.ha {

	position: absolute;
	margin-left: auto;
	margin-right: auto;

	z-index: 1;
}.oc {

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	z-index: -1;
}

.gl {
	position: absolute;
	margin-left: 120px;
	margin-top: 2px;
	z-index: 1;
}