body {

}
.ha {

	position: absolute;
	left: 37%;
	right: 63%;
	top: 130px;
	z-index: 1;
}

.oc {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	z-index: -1;
}

.gl {
	position: absolute;
	left: 43.5%;
	right: 56.5%;
	top: 297px;
	z-index: 1;
}