body {

}
.oc {

	position: absolute;
	margin: auto;
	z-index: -1;
}.ha {

	position: absolute;
	margin-left: auto;
	margin-right: auto;

	z-index: 1;
}


.gl {
	position: absolute;
	margin-left: 120px;
	margin-top: 200px;
	z-index: 1;
}